* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle, #1b1235, #050509);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container,
#message {
    text-align: center;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    background: rgba(255,255,255,0.08);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(255,255,255,0.15);
    animation: fadeIn 2s ease;
}

h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 25px;
}

button {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background: white;
    color: #5b2c83;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.08);
}

.hidden {
    display: none;
}


@keyframes fadeIn {

    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}
.memory-box {
    text-align: center;
    margin-top: 30px;
}

.memory-box img {
    width: 90%;
    max-width: 450px;
    max-height: 65vh;
    height: auto;
    border-radius: 20px;
    object-fit: contain;
}
.memory-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#memoryText {
    font-size: 20px;
    margin-top: 15px;
}
